<h1 class="text-center mt-5">Bienvenid@ a <b>MERCADO WEB</b><h1>
    <h2 class="container text-center mb-5 mt-3">Revisa nuestra <b>Lista de Productos</b></h2>
<div class="container">
    <div class="row row-cols-3 cols-md-3">
        {{> products}}
    </div>
</div>