<nav class="navbar bg-dark">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="#">
      <img
        src="img/logo-tienda.png"
        alt="banana"
        width="200"
        height="80"
      />
    </a>
  </div>
</nav>